[include]
	path = ~/.gitconfig_local

[advice]
	statusHints = false

[alias]
	git = !git

	ci = commit
	drop = stash drop
	fixup = commit --amend -C HEAD
	mark = !sh -c \"git update-ref -m 'bookmark: $1' HEAD HEAD\" -
	peek = show --name-only
	pop = stash pop
	pretty = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
	redate = !sh -c 'GIT_COMMITTER_DATE=\"$(date)\" git commit --amend --no-edit --date \"$(date)\"'
	st = status --short --branch
	undo = reset --soft HEAD^
	w = whatchanged
	wip = commit --no-verify -m "WIP"

[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	whitespace=trailing-space,cr-at-eol,tabwidth=4
	excludesfile = ~/.global_gitignore

	# enable parallel I/O for operations like "git diff"
	# see http://stackoverflow.com/q/18257622/276478
	preloadindex = true
	hooksPath = ~/.git-hooks/
	editor = vim

[color]
	branch = auto
	diff = auto
	status = auto
	interactive = auto
	ui = true
	pager = true

[color.branch]
	current = yellow reverse
	local = yellow
	remote = green

[color.diff]
	meta = yellow
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
	commit = yellow bold
	
[color.status]
	added = yellow
	changed = green
	untracked = cyan

[branch]
	autosetupmerge = always
	autosetuprebase = always
	sort = -committerdate

[diff]
	# use path prefix that makes sense in diff (replace a,b -> i,w for example)
	mnemonicprefix = true

[fetch]
	# auto prune on fetch
	prune = true

[merge]
	# show diff after merge
	stat = true

[pull]
	rebase = true

[push]
	# Make "git push" or "git push <remote>" do nothing
	default = nothing

[rerere]
	enabled = true

[user]
	useConfigOnly = true

[sequence]
	editor = interactive-rebase-tool

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
