[submodule "dependencies/diff-so-fancy"]
	path = dependencies/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy
[submodule "dependencies/ide-sync"]
	path = dependencies/ide-sync
	url = https://github.com/MitMaro/ide-sync.git
[submodule "dependencies/gnome-shell-audio-output-switcher"]
	path = dependencies/gnome-shell-audio-output-switcher
	url = git@github.com:kgaut/gnome-shell-audio-output-switcher.git
[submodule "dependencies/multi-monitors-add-on"]
	path = dependencies/multi-monitors-add-on
	url = git://github.com/spin83/multi-monitors-add-on.git
